@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:800|Libre+Baskerville:400,400i,700,700i&display=swap");

$headings-font-family: "Roboto Slab", serif;
$headings-font-weight: 800;

$font-family-base: "Libre Baskerville", serif;

@import url("https://fonts.googleapis.com/css?family=Alatsi|Patua+One&display=swap");

$primary: #f70000;
$secondary: #00a5bf;
$light: #ffffff;
$text-color: #333;

$vertical-space: 0.5rem;
